Importing Required python Module

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

Importing Datasets

In [4]:
df = pd.read_csv(r"E:\ml_deployment\wine_quality_prediction\winequality-red.csv")
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
df.info()
df.describe().T.style.background_gradient(axis=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

The table shows summary statistics (like mean, std, min, max) for each feature in the wine dataset. The color gradient highlights higher and lower values, making it easy to spot features with large ranges or potential outliers. This helps quickly understand the distribution and scale of each variable.

In [7]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [10]:
print(f"Values present in Quality Column :{df['quality'].unique()}")

Values present in Quality Column :[5 6 7 4 8 3]

Mapping the Values Based on quility Score of the red wine

In [13]:
df = df.replace({
    "quality":{
        8:'Good',
        7:'Good',
        6:'Average',
        5:'Average',
        4:'Bad',
        3:'Bad'
    }
})
df

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4  Average
1               7.8             0.880         0.00  ...       0.68      9.8  Average
2               7.8             0.760         0.04  ...       0.65      9.8  Average
3              11.2             0.280         0.56  ...       0.58      9.8  Average
4               7.4             0.700         0.00  ...       0.56      9.4  Average
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5  Average
1595            5.9             0.550         0.10  ...       0.76     11.2  Average
1596            6.3             0.510         0.13  ...       0.75     11.0  Average
1597            5.9             0.645         0.12  ...       0.71     10.2  Average
1598            6.0             0.310         0.47  ...       0.66     11.0  Average

[1599 rows x 12 columns]