Importing Required python Module

In [9]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split,GridSearchCV,cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score
import joblib

Importing Datasets

In [10]:
df = pd.read_csv(r"E:\ml_deployment\wine_quality_prediction\winequality-red.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [11]:
df.info()
df.describe().T.style.background_gradient(axis=0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

The table shows summary statistics (like mean, std, min, max) for each feature in the wine dataset. The color gradient highlights higher and lower values, making it easy to spot features with large ranges or potential outliers. This helps quickly understand the distribution and scale of each variable.

In [12]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [13]:
print(f"Values present in Quality Column :{df['quality'].unique()}")

Values present in Quality Column :[5 6 7 4 8 3]

Mapping the Values Based on quility Score of the red wine

In [14]:
df = df.replace({
    "quality":{
        8:'Good',
        7:'Good',
        6:'Average',
        5:'Average',
        4:'Bad',
        3:'Bad'
    }
})
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,Average
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,Average
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,Average
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,Average
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,Average
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,Average
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,Average
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,Average
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,Average
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,Average

Data Spliting And Scaling

In [15]:
X = df.drop(columns='quality')
y = df['quality']
scaler = MinMaxScaler(feature_range=(0,1))
X_scaled = scaler.fit_transform(X)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [ ]:
models={
    "LogisticRegression":LogisticRegression(),
    "SVC":SVC(),
    #"XGBClassifier":XGBClassifier(),
    "CatBoostClassifier":CatBoostClassifier(verbose=False),
    "RandomForestClassifier":RandomForestClassifier(),
    "DecisionTreeClassifier":DecisionTreeClassifier(),
    "KNeighborsClassifier":KNeighborsClassifier(),
    "GaussianNB":GaussianNB(), 
}

In [17]:
results = {}
for model_name,model in models.items():
    print(f"Training {model_name}...")
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    results[model_name] = accuracy
    print(f"{model_name} Accuracy:{accuracy}")
    print("\n")

Training LogisticRegression...

e:\ml_deployment\ml_env_d\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression Accuracy:0.8225


Training SVC...
SVC Accuracy:0.835


Training CatBoostClassifier...
CatBoostClassifier Accuracy:0.8675


Training RandomForestClassifier...
RandomForestClassifier Accuracy:0.8725


Training DecisionTreeClassifier...
DecisionTreeClassifier Accuracy:0.8175


Training KNeighborsClassifier...
KNeighborsClassifier Accuracy:0.8275


Training GaussianNB...
GaussianNB Accuracy:0.8025

In [18]:
model_list = []
accuracy_list = []
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_accuracy = accuracy_score(y_train,y_train_pred)
    test_accuracy = accuracy_score(y_test,y_test_pred)

    accuracy_list.append(test_accuracy)

    model_list.append(list(models.keys())[i])
    print(model)
    print(f"Training Score :{train_accuracy}")
    print(f"Test Score : {test_accuracy}")
    print("="*80)

e:\ml_deployment\ml_env_d\lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()
Training Score :0.8381984987489575
Test Score : 0.8225
================================================================================
SVC()
Training Score :0.823185988323603
Test Score : 0.835
================================================================================
<catboost.core.CatBoostClassifier object at 0x00000224AB9750A0>
Training Score :1.0
Test Score : 0.8675
================================================================================
RandomForestClassifier()
Training Score :1.0
Test Score : 0.8725
================================================================================
DecisionTreeClassifier()
Training Score :1.0
Test Score : 0.8225
================================================================================
KNeighborsClassifier()
Training Score :0.8690575479566305
Test Score : 0.8275
================================================================================
GaussianNB()
Training Score :0.780650542118432
Test Score : 0.8025
================================================================================

In [19]:
pd.DataFrame(list(zip(model_list,accuracy_list)),columns=['model','score']).sort_values(by=["score"],ascending=False)

                    model   score
3  RandomForestClassifier  0.8725
2      CatBoostClassifier  0.8675
1                     SVC  0.8350
5    KNeighborsClassifier  0.8275
0      LogisticRegression  0.8225
4  DecisionTreeClassifier  0.8225
6              GaussianNB  0.8025

In [20]:
param_grid ={
    "n_estimators":[100],
    "criterion":["gini", "entropy", "log_loss"],
    "max_depth":[10,15,20],
    "min_samples_split":[2,5,10]
}

grid_search = GridSearchCV(estimator=RandomForestClassifier(),param_grid=param_grid,cv=5,n_jobs=-1,verbose=1)
grid_search.fit(X_train,y_train)
print(f"Best Parameters for Random Forests : {grid_search.best_params_}")

Fitting 5 folds for each of 27 candidates, totalling 135 fits
Best Parameters for Random Forests : {'criterion': 'log_loss', 'max_depth': 20, 'min_samples_split': 5, 'n_estimators': 100}

In [21]:
best_model = grid_search.best_estimator_
cv_score = cross_val_score(best_model,X_scaled,y,cv = 5)
print(f"Cross Validation Scores for Random Forests :{cv_score}")
print(f"Mean Cross_Validation score :{cv_score.mean()}")

Cross Validation Scores for Random Forests :[0.83125   0.8125    0.834375  0.821875  0.8369906]
Mean Cross_Validation score :0.8273981191222571

In [22]:
# ...existing code...
joblib.dump(best_model, "Best_Model.pkl")
joblib.dump(scaler, "scaler.pkl")

print("Model And Scaler Have been Saved ")

Model And Scaler Have been Saved

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   object
dtypes: float64(11), object(1)
memory usage: 150.0+ KB